  .app {
    margin-bottom: 4rem;
    background-color: #f5f8fd;
  }

    .app-container {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: auto;
      margin-left: auto;
      max-width: 1140px;
    }

    .app-row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1rem;
      margin-right: -1rem;
    }

    .app-col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      position: relative;
    }

    .app-row > .app-col {
      padding-left: 1rem;
      padding-right: 1rem;
    }

      .app-btn {
        display: inline-block;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .25rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        text-decoration: none;
        outline: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }

      .app-btn--ghost {
        background-color: transparent;
        border-color: #ffffff;
        color: #ffffff;
      }

      .app-btn--ghost:hover,
      .app-btn--ghost:focus {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #6cb91d;
      }

      .app-form-group--action .app-btn--ghost {
        border-color: #6cb91d;
        color: #6cb91d;
      }

      .app-form-group--action .app-btn--ghost:hover,
      .app-form-group--action .app-btn--ghost:focus {
        background-color: #6cb91d;
        color: #ffffff;
      }

    .app-box {
      padding: 1.5rem;
      border: .0625rem solid #06576a;
      border-radius: .1875rem;
      height: 100%;
      background-color: #ffffff;
      box-shadow: 0 3px 8px 1px rgba(6, 87, 106, 0.5);
    }

    .app-box--title {
      margin: -1.5rem -1.5rem 1.5rem;
      font-size: 1.25rem;
      padding: .75rem 1.5rem;
      background-color: #06576a;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }

    .app-box--subtitle {
      margin: 1rem 0 .5rem;
      font-size: 1.125rem;
    }

    .app-box--paragraph {
      text-align: center;
      color: #06576a;
      margin-bottom: 2rem;
    }

    .app-form-row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -.5rem;
      margin-left: -.5rem;
    }

      .app-form-row > .app-col {
        padding-right: .5rem;
        padding-left: .5rem;
      }

      .app-form-group {
        margin-bottom: 1rem;
      }

      label {
        display: inline-block;
        margin-bottom: .25rem;
        font-size: .875rem;
      }

        .app-form-control {
          display: block;
          width: 100%;
          height: calc(2.25rem + 2px);
          padding: .375rem .75rem;
          font-size: 1rem;
          line-height: 1.5;
          color: #06576a;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #06576a;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

  .app-form-group--action {
    text-align: center;
    margin-top: 2rem;
  }

    .app-form-group--action .app-btn {
      min-width: 16rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

  .app-box--paragraph__results {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    color: #06576a;
  }

    .app-box--paragraph__results > strong {
      color: #6cb91d;
    }

  .app-form-group--actions {
    text-align: right;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 2rem;
  }

    .app-form-group--actions > span {
      text-decoration: underline;
      font-size: .875rem;
    }

      .app-icon {
        display: inline-block;
        outline: none;
        text-decoration: none;
        background-image: url("thumbs-up.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 32px;
        height: 32px;
        margin-left: 1rem;
      }

      .app-icon--down {
        transform: rotate(180deg);
      }