.app-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #6cb91d;
  padding: .5rem 0;
  color: #ffffff;
  margin-bottom: 4rem;
}

.app-header > .app-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

  .app-title {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
  }

    .app-title > svg {
      fill: #ffffff;
      display: inline-block;
      height: 1.5rem;
    }

  .app-nav {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
  }

    .app-nav-list {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin: 0 auto -1.5rem;
      list-style: none;
    }

      .app-nav-list-item {
        margin: 0 2rem;
        display: inline-block;
      }

        .app-nav-link {
          font-size: 1rem;
          font-weight: 500;
          display: block;
          color: #ffffff;
          border-bottom: 3px solid transparent;
          text-decoration: none;
          outline: none;
        }

        .app-nav-link:hover,
        .app-nav-link:focus,
        .app-nav-link.is-current {
          border-bottom-color: #06576a;
        }